.home {
    background-image:url("../../assets/homepagever.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

@media only screen and (max-width: 500px) {

}
.workexperience {
    display: flex;
    gap: 5px;

}
.workexperiencedetails{
    margin-block-start: 0;
    margin-block-end: 0;
}
.workexperienceheaders{
    font-family: 'Verdana, sans-serif'; 
}
.fix {
    margin-top: 10px;
}
.MainDivCSS {
    padding-top: 1px;
    padding-left: 100px;
    padding-right: 100px;
    background: #dee2e6;
}
@media only screen and (max-width: 717px) {
    .MainDivCSS {
    padding-top: 1px;
    padding-left: 50px;
    padding-right: 50px;
    background: #dee2e6;
}
  }

  @media only screen and (max-width: 397px) {
    .MainDivCSS {
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    background: #dee2e6;
}
  }
  .çenterimage{
    display: flex;
    justify-content: center;
  }