.home {
    background-image:url("../../assets/homepagever.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.edithome {
    width: 250px;
    background-color: black;
    padding: 15px;
    border: 5px solid #FFFFFF;
    border-radius: 8px;
}
.support {
   margin-left: 150px;
   margin-top: 100px;
}
.paragraph {
    font-style: 'Italic';
    color:green;
    text-align:left;
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media only screen and (max-width: 1534px) {
    .support {
        margin-left: 100px;
        }
  }
  @media only screen and (max-width: 1121px) {
    .support {
        margin-left: 75px;
        }
  }
@media only screen and (max-width: 875px) {
    .support {
        margin-left: 50px;
        }
  }
@media only screen and (max-width: 577px) {
    .support {
        margin-left: 25px;
        }
  }


  