.home {
    background-image:url("../../assets/homepagever.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.edithome {
    width: 250px;
    background-color: black;
    padding: 10px;
    border: 5px solid #FFFFFF;
    border-radius: 8px;
}
.support {
   margin-left: 150px;
   margin-top: 100px;
}
.paragraph {
    font-style: 'Italic';
    color:green;
    text-align:left;
    font-size: 25px;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media only screen and (max-width: 1177px) {
    .support {
        margin-left: 100px;
        }
  }
@media only screen and (max-width: 835px) {
    .support {
        margin-left: 50px;
        }
  }
@media only screen and (max-width: 577px) {
    .support {
        margin-left: 25px;
        }
  }
  @media only screen and (min-width: 2000px) {
    .support {
        margin-left: 200px;
        }
    .edithome {
            width: 400px;
        }
    .paragraph {
        font-size: 40px;
    }
  }


  