.itemsReact {
        white-space: nowrap;
    }
.rightsection { 
          padding-top: 35px;
          width: 200px;
    }
@media only screen and (max-width: 500px) {
    .setimage {
      width: 100px;
    }
    .setimagecaption {
        font-size: 10px;
        width: 100px;
    }
    .rightsection {
         text-align: end;
         width: 100px;
    }
    .itemsReact {
        padding: 10px 4px !important;
    }
  }
  
  @media only screen and (max-width: 627px) {
    
    .itemsReact {
        padding: 10px 4px !important;
    }
  }

  